




.headerDivider {
     border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
     height:20px;
     
}


.navbar{
    margin-bottom:  0 !important;
}

body{
    
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
} 



.leftSearch {
   padding-bottom: 15px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    background-image: 
        linear-gradient(#2E2E2E, #555555);
    
}
.blueGradientBG
{
	background-image:
		linear-gradient(#2E2E2E, #555555);
}

.blue
{
	background-image:
		linear-gradient(
                to bottom,
                #0000ff, #000066);
        
-webkit-box-shadow: 2px 37px 54px 79px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 37px 54px 79px rgba(0,0,0,0.75);
box-shadow: 2px 37px 54px 79px rgba(0,0,0,0.75), inset -1px -6px 4px 9px #2E2E2E;

  

}     

.leftPadding{
    padding-left: 300px;
}

.rounded{
    border-radius: 15px;
    border: 10px;
}

label, input{
    display: block;
}

label{
    padding-top: 15px;
    
}

img.padding {
	padding: 30px;
}

.topPadding{
    padding-top: 60px;
}

.padd
{
	padding: 20px;
        float: right;
}

.loginBtnPadding
{
    padding-top: 15px;
    padding-bottom: 15px;
    
}

button.right {
    margin-right: auto;
}

.right  {
    float: right;
}

.text30{
    font-size: 22px;
    font-family:sans-serif;
    font-weight: bold;
    color: white;
}

#searchBarLeft{
   
    text-align: center;
    padding-top:  px;
    
  
}
    #searchBarMain{
        text-align: center;
    padding-top:  10px;
    padding-bottom: 19px;
    }

.divider-vertical {
height: 55px;
margin: 0 9px;
border-left: 1px solid #31b0d5;
border-right: 1px solid #31b0d5;
}



/*For positioning content in page within container*/
.contentPosition{
    margin-top: 150px !important;
    
}

.imgGallery{
    max-width:100%;
    max-height:70%;
    
}

/* set image size to full*/
img{
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    
}

/* Register form display */
.formContainer{
    background-color: white;
    border-radius: 100px;
    max-width: 100%;
    max-height: 100%;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 90px;
}


.panelBodyBox{
    height: 460px;
}
.panelBodyBoxEvent{
    height: 650px;
}


.socialLinkBackground{
    background-color: #fff;
    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
   -webkit-box-shadow: -1px 50px 54px 26px rgba(0,0,0,1);
-moz-box-shadow: -1px 22px 54px 26px rgba(0,0,0,1);
box-shadow: -1px 22px 114px 36px rgba(0,0,0,1);

        
}

.socialLinkTopRadius{
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

/* for month text on ticket availability */
.col-lg-8 .dateGroup {
    font-family: Impact, Charcoal, sans-serif; 
    font-size: 25px;
}


.newEventGallery{
    border: 2px #fff solid;
    height: 215px;
    padding: 0px;
    margin: 2px;
    background-color: gray;
    
    
}

.eventBoxInfo{
    background-color: white;
    font-family: Impact, Charcoal, sans-serif; 
    max-height: 100%;
    max-width: 100%;
}

.eventImage{
    border: #fff double thin;
    width: 100%;
    height: 75%;
    text-align: center;
    
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding:1px;
    
}

.ticketImage{}


/* buy ticket page text formatting */
.panel-body .row .col-lg-12 .ticketDetailText{
    font-family: sans-serif;
    font-size: 20px;
    font-style:  oblique;
}

.row .col-lg-12 .newEventHeader {
    color: white;
    font-size: 55px;
    border: 2px;
    border-color: #fff;
    font-family: Impact, Charcoal, sans-serif;
}

/* For display error messages */
.errorMessage {
    color: red;
}

.ticketDetailsSmall{
    font-family: cursive; 
    font-size: 30px;
    
}

.filterBox{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: sans-serif ;
    font-weight: bold;
    font-size: 15px;
    height: 500px;
  
}

.pageHeading{
    font-size: 30px;
}

.col {
  padding-right:7px;
  padding-left:7px;
}

.span i{
    display: block;
}

.noTickets{
    border: #555555 solid thin;
    padding: 20px;
    font-size: 40px;
    color : whitesmoke;
    margin-bottom: 120px;
}

.eventRowSegment{
    
    font-weight: bold;
    height: 100%;
    width: 100%;
    border-right: #000066 thin inset;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
}

.eventRowBuy{
    height: 100%;
    width: 100%;
    
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    
}
.eventRow{

    width: 100%;
    height: 65px;
    margin: 5px;
    margin-bottom: 15px;
    border: #31b0d5 double;
    border-radius: 10px;
    background-image: 
        linear-gradient(#B8B8B8, #F7F7F7);
}

.underImageInfo{
    font-size: 15px;
    font-family:  sans-serif;
    color: white;
}

.boxName{
    border-bottom: #fff dashed thin;
}

#loadMoreButton{
    text-align: match-parent;
    font-size: 17px;
    font-style:  italic;
    
    color: white;
    margin-top: 5px;
    margin-bottom: 50px;
    
    background-color: black;
   
}

.loadMoreSearchButton{
     text-align: match-parent;
    font-size: 17px;
    font-style:  italic;
    
    color: white;
    margin-top: 5px;
    margin-bottom: 50px;
    
    background-color: black;
   
}

.largeImageBox{
    width: 540px;
    height: 480px;
    text-align: center;
    border: #080808 double thick;
    border-radius: 2px;
    
    
}

.largeImage{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    align-content: center;
    
}

.availableTickets{
    font-family: Impact, Charcoal, sans-serif; 
    font-size: 25px;
    padding-bottom: 25px;
    padding-top: 20px;
}

.ticketOptions{
    font-size: 20px;
    border-bottom:  #000066 dashed thin;
    
}

.ticketActualDetails{
    font-size: 16px; 
}

.newEventGallery:hover {
    background-color:  #000066;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
  -webkit-box-shadow: 0 0 35px #2E2E2E;
}

.paymentBox{
    padding: 30px;
    padding-bottom: 100px;
    margin-top: 150px;
    background-color: white;
    border:  #000066 inset thin;
    border-radius: 5px;
}

#logoImage{
    height: 200px;
    margin-left: 80px;
}

.infoBoxSize{
    height: 400px;
    background-color: white;
}

#googleMap{
    text-align: center;
    width: 380px;
    height: 320px;
}

.infoPageTitle{
    padding-left: 110px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 50px;
    font-weight: bold;
    font-style: inherit;
    font-family: Impact, Charcoal, sans-serif;
    color:   #000066;
    text-shadow: 3px 0px 2px rgba(150, 150, 150, 1);
        
}
.profileDetails{
    font-size: 25px;
    color: #0000ff;
    padding-bottom: 5px;
}

.allEventData{
                margin-top: 60px;
                margin-bottom: 120px;
                
               padding-left: 40px;
               padding-right: 40px;
               padding-top: 1px;
               padding-bottom: 10px;
               
                text-align: center;
		background-image:
		linear-gradient(
                to bottom,
                #000080, #191919);
                border-radius: 100px;
                -webkit-box-shadow: 13px -8px 48px 31px rgba(0,0,0,1);
                -moz-box-shadow: 13px -8px 48px 31px rgba(0,0,0,1);
                box-shadow: 13px -8px 48px 31px rgba(0,0,0,1);

}

.completeInfo{
    font-size: 30px;
    font-style:  initial;
}
.myJunction{
    font-size: 15px;
    padding: 5px;
    margin: 7px;
    color : white;
    font-weight:  bold;
    border:  #ffffff thick groove;
}

.myJunction .fa{
   color: white;
   
}

table, td, tr {
    border:  #0000ff double thick;
    padding: 15px;
    font-size: 21px;
    
}

table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.SignInBox{
    width: 200px;
}

#registerComplete{
    text-align: center;
}

.eventData{
    text-align: center;
}

